<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-8 offset-2">
    <br> 
        <h3> Create a New Listing </h3>
    <br>
        <form action="/listings" novalidate method="POST" class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Title" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid title.
                </div>
            </div>
        <br>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="listing[description]" placeholder="Description" class="form-control" required>
                <div class="invalid-feedback">
                Please enter a valid description.
                </div>
            </div>
        <br>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" id="category" class="form-select" required>
                    <option value="">Select Category</option>
                    <option value="City">City</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Castles">Castles</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Camping">Camping</option>
                    <option value="Pools">Pools</option>
                    <option value="Farms">Farms</option>
                    <option value="Nature">Nature</option>
                    <option value="Beach">Beach</option>
                    <option value="Historical">Historical</option>
                    <option value="Domes">Domes</option>
                    <option value="Boats">Boats</option>
                </select>
            </div>
        <br>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control" required>
                <div class="invalid-feedback">
                    Please upload an image.
                </div>
            </div>
        <br>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="Price" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
            </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Country" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid country.
                    </div>
                </div>
            </div>
        
        <br>  
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Location" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid location.
                </div>
            </div>
        <br>
            <button type="submit" class="btn btn-dark add-btn">Add</button>   
        <br><br><br><br>
    </form>
    </div>
</div>



